<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

<form style="width: 80%;">
 <label for="app" style="width: 40%;">App :</label>
 <input type="text" name="App" id="App" value="BLM-Cust" style="width: 40%;"><br>

 <label for="NumOfDeff" style="width: 40%;">Number of Defects :</label>
 <input type="number" name="App" id="App" value="12" style="width: 40%;"><br>

 <label for="Discription" style="width: 40%;">Discription :</label>
 <input type="text" name="App" id="App" value="Cann't open the App" style="width: 40%;"><br>

 <label for="Solution" style="width: 40%;">Solution :</label>
 <input type="text" name="App" id="App" value="Reset App" style="width: 40%;"><br>
</form>
<br><br>
<table style="width: 100%; border: 1px solid;">
 <tr>
   <th style="width: 20%;">Date</th>
   <th style="width: 20%;">Time</th>
   <th style="width: 20%;">Username</th>
   <th style="width: 20%;">Done</th>
   <th style="width: 20%;">To do</th>
 </tr>
 <tr>
   <td style="width: 20%">12/01/2019</td>
   <td style="width: 20%">18:56</td>
   <td style="width: 20%">Mahmood Younis</td>
   <td style="width: 20%">App restarted</td>
   <td style="width: 20%">restart agin</td>
 </tr>
 <tr>
   <td style="width: 20%"></td>
   <td style="width: 20%"></td>
   <td style="width: 20%"></td>
   <td style="width: 20%"></td>
   <td style="width: 20%"></td>
 </tr>
</table>
