<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

<!-- <div class="table bg-dark text-white"> -->

<div class="row">
  <div class="col-1" >
   </div>
  <div class="col-10" align="center">
    <app-defect-log></app-defect-log>
  </div>
  <div class="col-1" >
  </div>
</div>
<br><br>
<div class="row">
<div class="col-6" >
<app-apptable></app-apptable>
</div>
<div class="col-6" >
<app-severity-percent-table></app-severity-percent-table>
</div>
</div>
<br><br>
<div class="row">
<div class="col-6" align="center">
</div>

</div>
<table width=100%;>
<tr>
<td><div><app-pie-chart></app-pie-chart></div></td>
<td><div><app-bar-chart></app-bar-chart></div></td>
</tr>
</table>
<!-- </div> -->
