
<div style="background-color: #343A40; width:100%; color:blanchedalmond;">
<ul>

 <li><a style="cursor: pointer;" href="https://loggitor1.herokuapp.com/src/">Loggitor</a></li>
 <li><a (click)="ActionURL()" style="cursor: pointer;">Actions</a></li>
 <li><a href="https://admin-users.herokuapp.com/users">Admin</a></li>
 <li><a href="https://loggitor-fe.herokuapp.com/about">About</a></li>
 <li style="float: right"><img src="./assets/imgs/a.png" alt="Amdocs Logo" height="50"></li>
</ul>
<div style="margin-top: 5%">{{NowDate | date: 'dd'}}/{{NowDate | date:'MM'}}/{{NowDate | date: 'yyyy'}} , {{NowDate | date: 'HH'}}:{{NowDate | date: 'mm'}}</div>

<br><br><br>
<div class="container">
  <H3 style="text-align: center">Amdocs System Status at date {{NowDate | date: 'dd'}}/{{NowDate | date:'MM'}}/{{NowDate | date: 'yyyy'}} </H3>

</div>
<br><br>
<!--Logetor table-->
<div class="col-8" style="margin-left: auto; margin-right: auto; border: 2px solid rgb(248, 248, 248);">
 <app-defect-log></app-defect-log>
</div>
<br><br>

<!--App table & Severity table-->
<div class="row">
 <div class="col-5" style="margin-left: auto; margin-right: auto; border: 2px solid rgb(248, 248, 248);">
   <app-apptable></app-apptable>
 </div>
 <div class="col-5" style="margin-left: auto; margin-right: auto; border: 2px solid rgb(248, 248, 248);">
   <app-severity-percent-table></app-severity-percent-table>
 </div>
</div>
<br><br>

<!--Charts-->
<div class="row">
 <!--Pie Chart-->
 <div class="col-6">
   <div><app-pie-chart></app-pie-chart></div>
 </div>
 <!--Bar Chart-->
 <div class="col-6">
   <div><app-bar-chart></app-bar-chart></div>
 </div>
</div>
<br><br><br><br><hr style="color: white;">
<!--Weakly Bar Chart-->
<div align="center">
  <div class="col-10" style="align-content: center; height: 300px;">
  <app-weekly></app-weekly>
</div>
  <!-- <app-stacked-chart></app-stacked-chart> -->
</div>
<br><br>
</div>
