
 <ul>
  <li  class="dropdown">
  <a href="#home" class="btn-secondary dropdown-toggle">Home</a>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Log</a><br>
    <a class="dropdown-item" href="#">Roles</a><br>
    <a class="dropdown-item" href="#">Actions</a><br>
  </div>
    </li>
  <li><a href="#Rules">Rules</a></li>
  <li><a href="#Solution">Solutions</a></li>
  <li><a href="#About">About</a></li>
  <li style="float: right"><img src="./assets/imgs/a.png" alt="Amdocs Logo" height="50"></li>
  </ul>
  <br>
  <div class="container" >

    <div class="container">

           <H2 align="center">Loggitor<span id="date2"></span></H2>
           <br><br>
    </div>
    <div class="row">
            <div class="col-1" >
             </div>
            <div class="col-10" align="center">
              <app-defect-log></app-defect-log>
            </div>
            <div class="col-1" >
            </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-6" >
        <app-apptable></app-apptable>
      </div>
      <div class="col-6" >
        <app-severity-percent-table></app-severity-percent-table>
      </div>
</div>
<br><br>
    <div class="row">
        <div class="col-6" align="center">
        </div>

</div>
<table width=100%;>
  <tr>
    <td><div><app-pie-chart></app-pie-chart></div></td>
    <td><div><app-bar-chart></app-bar-chart></div></td>
  </tr>
</table>


</div>
