<mat-table style="background-color: #343A40; color:blanchedalmond;" [dataSource]="dataSource" matSort matSortActive="name" matSoryDirection="asc" matSortDisableClear >
  <ng-container matColumnDef="name" >

      <div *ngIf= " getMat_header === 'HomePage'" >
          <mat-header-cell *matHeaderCellDef mat-sort-header style="color:blanchedalmond;">App Name</mat-header-cell>
          <mat-cell class="hov" *matCellDef="let AppModel" (click)="clickEvent(AppModel.name)" style="color:blanchedalmond; cursor: pointer;">{{AppModel.name}}</mat-cell>
      </div>
      <div *ngIf=" getMat_header === 'ErrorCode'">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="color:blanchedalmond;">Error Code</mat-header-cell>
          <mat-cell *matCellDef="let AppModel" style="color:blanchedalmond;">{{AppModel.errorCode}}</mat-cell>
      </div>

    </ng-container>
    <ng-container matColumnDef="defnum">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="color:blanchedalmond;">Defect num</mat-header-cell>
      <mat-cell *matCellDef="let AppModel" style="color:blanchedalmond;">{{AppModel.defnum}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="percentage">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="color:blanchedalmond;">Percent</mat-header-cell>
      <mat-cell *matCellDef="let AppModel" style="color:blanchedalmond;">{{AppModel.percentage}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColums" color="primary" style="color:blanchedalmond;"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColums" style="color:blanchedalmond;"></mat-row>
</mat-table>
